footer.vitrine-footer {
    background-color: var(--vert-fonce); 
    justify-content: space-between;
}



footer.vitrine-footer p{
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    padding-bottom: 30px;

}
