footer.vitrine-footer {
    background-color: var(--vert-fonce); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

footer.vitrine-footer .footer-content {
    width: 60%;          
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.img-footer{
    padding: 2px;
    background-color: var(--bg);
    border-radius: 100px;
}

.img-footer img {
    height: 70px;
}


footer.vitrine-footer p{
    color:white;
    font-weight: bold;
}
