body.page-login{
    background: linear-gradient(to bottom, #FFA253, #FBDBBF);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
}


h1{
text-align: center;
color: rgb(250, 100, 0);
}

.input {
    display: block;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



#logo_login{
    width: 400px; 
}

.btn_connexion {
    padding: 20px 40px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(252, 164, 0);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor:pointer;
    justify-content: center;
}

a {
    display: block;
    color: rgb(79, 197, 244);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.form-container {
    display: flex;
    flex-direction: column; 
    gap: 15px;              
}