header {
  padding: 10px;
  background-color: orange;
}

#logo_header {
  height: 100px;
}

/* Menu de navigation */
nav ul {
  list-style: none;              
  display: flex;                 
  gap: 100px;                     

}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 15px;
}

nav a:hover {
  background-color: var(--vert-fonce);
  border-radius: 15px;               
}

.btn_login {
    display: inline-block;           
    background-color: var(--vert-fonce);       
    color: white;                    
    padding: 10px 20px;             
    border: none;                    
    border-radius: 8px;              
    cursor: pointer;                 
    font-size: larger;               
    text-decoration: none;           
    text-align: center;              
    transition: background-color 0.3s; 
}

.btn_login:hover {
    background-color: #fd8700;       
}



.header-container input[type="text"],
.header-container select {
    padding: 10px 15px;
    border: 2px solid var(--vert-fonce);
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
}


.header-container button {
    background-color: var(--vert-fonce);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s;
}


.header-container button:hover {
    background-color: #fd8700;
}


