/*liste des articles*/


    


.articles {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 15px;
    min-height:90vh;
}


.article {
    background: #fdb530;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 25px;
    
    transition: transform 0.15s ease-in-out, box-shadow 0.15s, background 0.2s;
}


.article:hover {
    box-shadow: 0 2px 6px #ff7b00;
    transform: translateY(-3px);
}

.article h2 {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #e64a01;
}

.article p {
    line-height: 1.5;
    color: #444;
    margin-bottom: 10px;
}

.article small {
    display: block;
    margin-top: 8px;
    color: #666;
    font-size: 0.85rem;
    font-style: italic;
}

/*pages*/

.pagination {
    text-align: center;
    margin: 35px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.pagination a {
    padding: 8px 14px;
    border: solid 1px #fdb530;
    border-radius: 6px;
    color: #fdb530;
    text-decoration: none;
    font-size: 0.95rem;
    transition: background 0.2s, color 0.2s;
}

.pagination a:hover {
    background: #fdb530;
    color: white;
}

.pagination a.active {
    background: #fdb530;
    color: white;
    pointer-events: none;
}



.commentaires {
    background: #fff8f0;
    border: 1px solid #f5c27a;
    border-radius: 8px;
    padding: 15px 20px;
    margin-top: 10px;
}

.commentaires h3 {
    color: #d35400;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.commentaire {
    border-bottom: 1px solid #f5c27a;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.commentaire:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.commentaire p {
    margin-bottom: 5px;
    color: #34495e;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-break: break-word;
}

.commentaire small {
    font-size: 0.85rem;
    color: #7f8c8d;
    font-style: italic;
    overflow-wrap: break-word;
    word-break: break-word;
}
